.container{
display: flex;

}
.aside{
display: grid;
max-width: 234px;
max-height: 1074px;
background: linear-gradient(180deg, #E6EFFB 0%, rgba(230, 239, 251, 0) 100%);

}
.navbar{
max-width: 234px;
height: 100%;
padding:18px 54px ;

}
.navbar__section{
display: grid;
align-items: center;
gap: 43px;
padding: 23px;

}

.section__title{
padding-top: 59px;
padding-bottom: 23px;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-transform: uppercase;
color: #000000;

}
.aside__navbar__section{
display: flex;
align-items: center;
gap: 13px;
cursor: pointer;
}
.article{
display: grid;
width: 60%;
height: 100%;
max-width: 840px;
max-height: 1074px;
}
.article__navbar{
display: flex;
justify-content: space-between;
padding-left: 41px;
padding-top:37px ;
max-width: 758px;

}
.article__navbat__items{
max-width: 350px;
display: flex;
gap: 20px;
cursor: pointer;
}
.article__header,.article__footer{
display: grid;
margin: 41px 21px;
border: 1px solid #E6EFFB;
border-radius: 10px;

}
.article__navbar__button{
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */
letter-spacing: -0.04em;
cursor: pointer;
color: #000000;
}
.article__header__navbar{
height: 50px;
align-items: center;
justify-content: space-between;
display: flex;
padding: 24px 23px;
cursor: pointer;
}
.article__header__card__container,.article__footer{
display: flex;
flex-wrap: wrap;
padding: 0px 25px 26px 25px;
gap:20px ;
}
.article__title{
display: flex;
align-items: center;
gap: 10px;
font-weight: 700;
font-size: 18px;
line-height: 22px;
letter-spacing: -0.04em;
color: #2D2D2D;
}
.header__card{
border: 1px solid #E6EFFB; 
border-radius: 10px;
display: grid;
padding:16px ;
}
.card__title{
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 19px;
color: #2D2D2D;
padding:3px ;
cursor: pointer;
}
.card__subtext{
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #7C8DB5;
padding: 4px;
}
.card__play_button{
position: relative;
left: 75px;
bottom: 60px;
background: #FFFFFF;
border-radius: 10px;
width: 39px;
height: 40px;
display: grid;
justify-content: center;
align-items: center;
cursor: pointer;
}
.article__footer{
display: grid;
background: #FFFFFF;
border: 1px solid #E6EFFB;
border-radius: 10px;

}
.article__footer__chapter{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
}
.button__container{
display: flex;
cursor: pointer;

}
.article__footer__left__container{
display: flex;
justify-content: center;
align-items: center;
gap: 15px;

}
.chapter__number{
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.04em;
color: #2D2D2D;
padding-right: 9px;
}
.title__container{
display: grid;
gap: 4px;
}
.chapter__title{
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.04em;
color: #2D2D2D;
cursor: pointer;
}
.chapter__subtext{
font-weight: 600;
font-size: 14px;
line-height: 17px;
letter-spacing: -0.04em;
color: #7C8DB5;
}
.button__container{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 15px;
}
.chapter__button{
border: 1px solid #E6EFFB;
border-radius: 10px;
width: 39px;
height: 40px;
display: grid;
justify-content: center;
align-items: center;
}
.article__footer__navbar{
display: flex;
justify-content: space-between;
padding-top:28px ;
padding-bottom: 32px;
}

.aside__right{
display: grid;
justify-content: space-between;
padding: 42px 37px;
max-width: 366px;
max-height: 1074px;
background: #F4F9FF;
}
.aside__header{
display: grid ;
max-width: 275px;
max-height: 200px;
gap:30px ;
margin-bottom:41px ;
}
.aside__right__navbar{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
padding-bottom:24px ;


}
.aside__title{
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #2D2D2D;
}
.aside__section{
display: flex;
flex-wrap: wrap;
align-items: center;
gap: 18px;
cursor: pointer;
}

.aside__header__number,.aside__header__number1{
font-weight: 600;
font-size: 14px;
line-height: 17px;
letter-spacing: -0.02em;
padding-left: 40px;
color: #7C8DB5;
}
.aside__header__number1{
padding-left: 72px;  
}
.aside__article__authors{
display: flex;
flex-wrap: wrap;
max-width: 276px;
max-height: 287px;
gap: 18px;
}
.__aside__author__container{
display: grid;
}
.author{
font-weight: 700;
font-size: 12px;
line-height: 15px;
text-align: center;
letter-spacing: -0.02em;
color: #2D2D2D;
padding-top: 10px;
cursor: pointer;
}
.aside__authors__navbar{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding:24px 0px ;
max-width: 267px;
}


.aside__playScrean{
max-width: 206px;
height: 430px;
background: #2D2D2D;
border-radius: 15px;
text-align: center;
justify-content: center;
align-items: center;
display: grid;
padding:32px 38px ;
margin-top:42px ;
}

.playscrean__title,.playScrean__subtitle{
font-weight: 700;
font-size: 18px;
line-height: 22px;
letter-spacing: -0.02em;

color: #FFFFFF;  
}
.playScrean__author{
font-weight: 600;
font-size: 12px;
line-height: 15px;
cursor: pointer;
text-align: center;
letter-spacing: -0.02em;
color: #FFFFFF;

}
.playScrean__line__container{
color: #FFFFFF;    
gap: 17px;
font-size: 12px;
font-weight: 600;
display: flex;
}
.playScrean__button__container{
display: flex;
justify-content: center;
gap: 26px;
align-items: center;
}
.button__play__container{
display: flex;
gap: 26px;
align-items: center;
cursor: pointer;
}
.pause{
background: #DADADA;
border-radius: 15px;
width: 50px;
height: 50px;
display: grid;
justify-content: center;
cursor: pointer;
align-items: center;
}

.article__navbar__item1,.article__navbar__item1{
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.04em;
color: #2D2D2D;
flex: none;
order: 0;
flex-grow: 0;
}
.article__navbar__item{
color: #7C8DB5;
}
.repeat,.volume{
cursor: pointer;
}
@media only screen and (max-width: 600px) {
.container{
display: flex;
flex-wrap: wrap;
justify-content: center;
background: linear-gradient(180deg, #E6EFFB 0%, rgba(230, 239, 251, 0) 100%);

} 
.aside{
margin-bottom: 300px;
max-width: 100%;
}
.aside__right{
margin-top: 2100px;
width: 100%;
justify-content: center;
}

}
